body {
    height: 100vh !important;
    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: hidden;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border: none !important;
}

#myimg {
    position: absolute;
}